# Python virtual environments
venv/
.venv/
env/
ENV/

# Bytecode/cache
__pycache__/
*.py[cod]

# Ignore headphone text file
headphone.txt

# Ignore category list CSV
#category_list.csv

#ignore category_reports folder
category_reports/